.DS_Store
.VSCodeCounter
.vscode
.idea
optiway/target
optiway/bin
optiway/bundle
*.out
multi_agent_path_finding/output
optiway/bin/routes.json_1.json
optiway/bin/routes.json_2.json
optiway/bin/routes.json_3.json
optiway/bin/routes.json_4.json
optiway/bin/routes.json_5.json
